.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1770px;
    min-width: 1200px;
    max-height: 820px;
    min-height: 768px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    z-index: 3;

    .title {
        font-size: 48px;
        font-family: "Josefin Sans";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .subtitle {
        font-size: 22px;
        font-family: "Josefin Sans";
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 39%;
        margin: 0;
    }

    form {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 47%;
        box-sizing: border-box;
        border: 2px solid white;
        background-color: white;
        width: 36%;
        height: 7%;
        display: grid;
        grid-template-columns: 78% 22%;

        input {
            border: none;
            font-size: 24px;
            font-family: "Josefin Sans";
            box-shadow: none;


            &::placeholder {
                text-align: center;
                color: #999999;
                font-size: 14px;
            }
        }
        
        button {
            display: grid;
            grid-template-columns: 76% 24%;
            background-color: #5474fd;
            border: none;
            justify-content: center;
            align-items: center;
            cursor: pointer;


            div {
                font-size: 14px;
                font-family: "Aleo";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                text-align: center;
                line-height: 1;
            }

            svg {
                margin-bottom: 3px;
                width: 20px;
                height: 20px;
                path {
                    fill: white;
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 10%;
        background-color: #5474fd;
        position: absolute;
        bottom: 0px;
        z-index: 5;

        p {
            margin: 0;
            font-size: 24px;
            font-family: "Josefin Sans";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
            position: absolute;
            left: 19%;
            top: 50%;
            transform: translateY(-50%);
        }

        ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 9%;
            box-sizing: border-box;
            width: 42%;
            max-width: 550px;
            height: 18px;
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            justify-content: center;
            align-items: center;

            li {
                margin: 0;
                text-align: center;


                a {
                    margin: 0;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: "Aleo";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 1;
                }
            }
        }
    }

    .scroll-down {
        position: sticky;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        width: 10vw;
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        z-index: 4;

        div:nth-child(1) {
            opacity: 0;
        }

        &:hover > div:nth-child(1) {
            opacity: 1;
            transition: ease-in-out 1s;
        }

        div:nth-child(1):hover + div:nth-child(2) {
            opacity: .5;
            transition: ease-in-out 1s;
        }


        div:nth-child(2) {
            opacity: 0;
            font-size: 14px;
            font-family: "Josefin Sans";
            line-height: 1;
            text-align: center;
            color: rgb(255, 255, 255);
            align-self: flex-end; 
            order: -1;       
        }
    }
}