* {
    scroll-behavior: smooth;

    &:focus, 
    &:focus-within {
        outline: none;
    }
}

body{
    margin: 0;
}

@media screen and (min-width: 1200px) {

@import "1200/header";
@import "1200/scroll";
@import "1200/choose";
@import "1200/how-it-works";
@import "1200/pool";
@import "1200/rock";
@import "1200/review";
@import "1200/footer";

}

@media screen and (min-width:992px) and (max-width: 1199px) {
    
    @import "992-1199/header";
    @import "992-1199/scroll";
    @import "992-1199/choose";
    @import "992-1199/how-it-works";
    @import "992-1199/pool";
    @import "992-1199/rock";
    @import "992-1199/review";
    @import "992-1199/footer"; 
    
}