.choose {
    position: relative;
    width: 100vw;
    height: 70vh;
    max-width: 767px;
    min-width: 576px;
    min-height: 600px;
    background-image: url(../img/choose-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

    .scroll-up {
        display: none;
    }

    .text-wrapper {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;

        .title {
            text-align: center;
            font-size: 32px;
            font-family: "Aleo";
            color: rgb(255, 255, 255);
            line-height: 1; 
            cursor: default;
        }

        .text {
            text-align: center;
            font-size: 18px;
            font-family: "Josefin Sans";
            color: rgb(232, 232, 232);
            line-height: 1.625;
            font-weight: 300;
            margin-bottom: 35px; 
            cursor: default;
        }    
        
        a {

            button {
                font-size: 14px;
                font-family: "Aleo";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1;
                text-align: center;
                width: 35%;
                height: 50px;
                border: none;
                background-color: #5474fd;
                cursor: pointer;                
                transition: ease-in-out .7s;
                transform: translateX(-50%);
                margin-left: 50%;


                &:focus,
                &:hover {
                    transform: scale(1.15) translateX(-50%);
                    background-color: darken(#5474fd, 20);
                }

                &:active {
                    transform: scale(1.05) translateX(-50%);
                    background-color: darken(#5474fd, 10);
                }
            }
        }
    }

    .pic1{
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 43%;
        height: 25%;
        background-image: url(../img/choose-pic-1.png);
        background-size: cover;
        background-position: center;
    }

    .pic2{
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 43%;
        height: 25%;
        background-image: url(../img/choose-pic-2.png);
        background-size: cover;
        background-position: center;
    }

    .scroll-down {
        display: none;
    }
}
