.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 575px;
    min-height: 500px;
    background-image: url(../img/header-bg.png);
    background-size: cover;    
    background-position: center;
    margin: auto;
    z-index: 3;

    .title {
        font-size: 46px;
        font-family: "Josefin Sans";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; 
        cursor: default;
    }

    .subtitle {
        font-size: 14px;
        font-family: "Josefin Sans";
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 36%;
        margin: 0; 
        cursor: default;
    }

    form {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: border-box;
        border: 2px solid white;
        background-color: white;
        width: 94%;
        height: 7%;
        min-height: 45px;
        max-height: 50px;
        display: grid;
        grid-template-columns: 85% 15%;

        input {
            border: none;
            font-size: 16px;
            font-family: "Josefin Sans";
            color: #041c30;
            transition: ease-in-out .1s;

            &::-ms-clear { 
                display: none; 
            }

            &::-webkit-search-decoration, 
            &::-webkit-search-cancel-button, 
            &::-webkit-search-results-button, 
            &::-webkit-search-results-decoration {
              display: none;
            }
            
            &:focus {
                background-color: #e6e6e6;
                color: #041c30;
                
                &::placeholder {
                    color: #43535f;
                }
            }

            &::placeholder {
                text-align: center;
                color: #999999;
                font-size: 10px;
            }
        }
        
        button {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr;
            background-color: #5474fd;
            border: none;
            justify-items: center;
            align-items: center;
            cursor: pointer;
            transition: ease-in-out .7s;

            &:focus {
                background-color: darken(#5474fd, 20);
                transform: scale(1.1);
            }

            &:hover {
                background-color: darken(#5474fd, 20);
                
                svg {
                    transform: scale(1.6);
                    margin: 0;
                }
            }

            &:active {
                background-color: darken(#5474fd, 20);

                svg {
                    transform: scale(1.3);
                    margin: 0;
                }
            }

            div {
                display: none;
            }

            svg {
                margin-bottom: 3px;
                width: 20px;
                height: 20px;
                transition: ease-in .7s;

                path {
                    fill: white;
                }
            }
        }
    }

    footer {
        width: 90%;
        height: 20%;
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);


        .logo {
            display: none;
        }

        ul {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            right: 10%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 15px;
            justify-items: center;
            align-items: center;

            li {
                margin: 0;
                text-align: center;
                transition: ease-in-out .4s;
                background-color: #5474fd;
                width: 100%;
                height: 100%;
                display: grid;
                justify-content: center;
                align-items: center;
    
                &:focus-within,
                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(1.05);
                }
    
                a {
                    margin: 0;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: "Aleo";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 1;
                    padding-bottom: 3px;
                }
            }
        }
    }

    .scroll-down {
        display: none;
    }
}