.choose {
    position: relative;
    width: 100vw;
    height: 685px;
    max-width: 1770px;
    min-width: 1200px;
    background-image: url(../img/choose-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

    .text-wrapper {
        position: absolute;
        top: 175px;
        left: 15%;
        width: 30.5%;
        height: 350px;

        .title {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(255, 255, 255);
            line-height: 1; 
            cursor: default;
        }

        .text {
            font-size: 16px;
            font-family: "Josefin Sans";
            color: rgb(232, 232, 232);
            line-height: 1.625;
            font-weight: 300;
            margin-bottom: 35px; 
            cursor: default;
        }    
        
        a {

            button {
                font-size: 16px;
                font-family: "Aleo";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1;
                text-align: center;
                width: 42%;
                height: 60px;
                border: none;
                background-color: #5474fd;
                cursor: pointer;                
                transition: ease-in-out .7s;


                &:focus,
                &:hover {
                    transform: scale(1.15);
                    background-color: darken(#5474fd, 20);
                }

                &:active {
                    transform: scale(1.05);
                    background-color: darken(#5474fd, 10);
                }
            }
        }
    }

    .pic1{
        position: absolute;
        top: 120px;
        right: 22%;
        width: 350px;
        height: 220px;
        background-image: url(../img/choose-pic-1.png);
    }

    .pic2{
        position: absolute;
        top: 345px;
        right: 15%;
        width: 350px;
        height: 220px;
        background-image: url(../img/choose-pic-2.png);
    }


    .scroll-down {
        position: sticky;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        width: 10vw;
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        z-index: 4;

        div:nth-child(1) {
            opacity: 0;
        }

        &:hover > div:nth-child(1) {
            opacity: 1;
            transition: ease-in-out 1s;
        }

        div:nth-child(1):hover + div:nth-child(2) {
            opacity: .5;
            transition: ease-in-out 1s;
        }


        div:nth-child(2) {
            opacity: 0;
            font-size: 14px;
            font-family: "Josefin Sans";
            line-height: 1;
            text-align: center;
            color: rgb(255, 255, 255);
            align-self: flex-end; 
            order: -1; 
            cursor: default;        
        }
    }
}
