.how-it-works {
    position: relative;
    width: 100vw;
    height: 340px;
    max-width: 1770px;
    min-width: 1200px;
    background-color: #333333;
    margin: auto;

    .scroll-up {
        display: none;
    }

    hr {
        display: none;
    }

    .search-places {
        position: absolute;
        top: 110px;
        left: 22%;
        transform: translateX(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
            background-color: #333333;
            border-radius: 30px;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                transform: scale(1.4);
            }

            &:active {
                transform: scale(1.2);
                transition: ease-in-out .2s;
            }
        }

        p {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(232, 232, 232);
            line-height: 1;
            text-align: center;
            margin: 0; 
            cursor: default;
        }
    }

    .select-places {
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
            background-color: #333333;
            border-radius: 30px;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                transform: scale(1.4);
            }

            &:active {
                transform: scale(1.2);
                transition: ease-in-out .2s;
            }
        }

        p {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(232, 232, 232);
            line-height: 1;
            text-align: center;
            margin: 0; 
            cursor: default;
        }
    }

    .book-enjoy {
        position: absolute;
        top: 110px;
        right: 22%;
        transform: translateX(50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
            background-color: #333333;
            border-radius: 30px;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                transform: scale(1.4);
            }

            &:active {
                transform: scale(1.2);
                transition: ease-in-out .2s;
            }
        }

        p {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(232, 232, 232);
            line-height: 1;
            text-align: center;
            margin: 0; 
            cursor: default;
        }
    }

    .lines {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-51%);
        width: 56%;
        height: 200px;
        background-image: url(../img/lines.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .scroll-down {
        position: sticky;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        width: 10vw;
        height: 10vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        z-index: 4;

        div:nth-child(1) {
            opacity: 0;
        }

        &:hover > div:nth-child(1) {
            opacity: 1;
            transition: ease-in-out 1s;
        }

        div:nth-child(1):hover + div:nth-child(2) {
            opacity: .5;
            transition: ease-in-out 1s;
        }


        div:nth-child(2) {
            opacity: 0;
            font-size: 14px;
            font-family: "Josefin Sans";
            line-height: 1;
            text-align: center;
            color: rgb(255, 255, 255);
            align-self: flex-end; 
            order: -1; 
            cursor: default;     
        }
    }
}