.how-it-works {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1199px;
    min-width: 922px;
    min-height: 340px;
    max-height: 768px;
    background-color: #333333;
    margin: auto;

    .scroll-up {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
        width: 5vw;
        height: 5vh;
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        z-index: 4;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        div:nth-child(1) {
            opacity: .25;
            padding-top: .2vh;
        }

        &:hover > div:nth-child(1) {
            opacity: 1;
            transition: ease-in-out 1s;
        }

        div:nth-child(2) {
            display: none;
        }
    }

    .search-places {
        position: absolute;
        top: 40%;
        left: 22%;
        transform: translateX(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
            background-color: #333333;
            border-radius: 30px;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                transform: scale(1.4);
            }

            &:active {
                transform: scale(1.2);
                transition: ease-in-out .2s;
            }
        }

        p {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(232, 232, 232);
            line-height: 1;
            text-align: center;
            margin: 0; 
            cursor: default;
        }
    }

    .select-places {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
            background-color: #333333;
            border-radius: 30px;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                transform: scale(1.4);
            }

            &:active {
                transform: scale(1.2);
                transition: ease-in-out .2s;
            }
        }

        p {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(232, 232, 232);
            line-height: 1;
            text-align: center;
            margin: 0; 
            cursor: default;
        }
    }

    .book-enjoy {
        position: absolute;
        top: 40%;
        right: 22%;
        transform: translateX(50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        justify-items: center;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
            background-color: #333333;
            border-radius: 30px;
            cursor: pointer;
            transition: ease-in-out .4s;

            &:hover {
                transform: scale(1.4);
            }

            &:active {
                transform: scale(1.2);
                transition: ease-in-out .2s;
            }
        }

        p {
            font-size: 36px;
            font-family: "Aleo";
            color: rgb(232, 232, 232);
            line-height: 1;
            text-align: center;
            margin: 0; 
            cursor: default;
        }
    }

    .lines {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-51%);
        width: 56%;
        height: 200px;
        background-image: url(../img/lines.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .scroll-down {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
        width: 5vw;
        height: 5vh;
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        z-index: 4;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        div:nth-child(1) {
            opacity: .25;
            padding-top: .2vh;
        }

        &:hover > div:nth-child(1) {
            opacity: 1;
            transition: ease-in-out 1s;
        }

        div:nth-child(2) {
            display: none;
        }
    }
}